body{
    margin: 0;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: aliceblue;
    font-size: 30px;
}
.box{
    margin: 30vh 0 0 0;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}